/* table{
    width: 80%; border-collapse: collapse; height: 250px;
}
.box{
    background-color: rgb(77, 77, 217); color: aliceblue;
}
.text1{
background-color: rgba(126, 126, 126, 0.4);
}
.text2{
    background-color:rgba(126, 126, 126, 0.362) ;
}
.text3{
    background-color: rgba(126, 126, 126, 0.359);
} */
   table{
    border-collapse: collapse; width: 600px; height: 200px;
   }
   caption{
    background-color: rgba(63, 121, 230, 0.458);
   }
   .text5{
  background-color: yellow;
   }
   .text6{
    background-color: darkgreen;
   }
   .text7{
    background-color: rgba(204, 35, 35, 0.92); color: rgba(240, 248, 255, 0.631);
   }